In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# this part not be needed after the latests updates of the library
from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)

In [2]:
raw_data = pd.read_csv('Bank-data.csv')
raw_data.head()

   Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0           0          1.334     0.0    1.0  0.0       0.0     117.0   no
1           1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2           2          4.858     0.0    1.0  0.0       0.0     167.0   no
3           3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4           4          4.856     0.0    1.0  0.0       0.0     157.0   no

In [3]:
raw_data = raw_data.drop(['Unnamed: 0'], axis = 1)

In [4]:
data = raw_data.copy()
data['y'] = data['y'].map({'yes':1,'no':0})
data

     interest_rate  credit  march  may  previous  duration  y
0            1.334     0.0    1.0  0.0       0.0     117.0  0
1            0.767     0.0    0.0  2.0       1.0     274.0  1
2            4.858     0.0    1.0  0.0       0.0     167.0  0
3            4.120     0.0    0.0  0.0       0.0     686.0  1
4            4.856     0.0    1.0  0.0       0.0     157.0  0
5            0.899     0.0    0.0  1.0       0.0     126.0  0
6            4.962     0.0    0.0  0.0       0.0      84.0  0
7            4.858     0.0    1.0  0.0       0.0      17.0  0
8            4.962     0.0    0.0  0.0       0.0     704.0  1
9            4.865     0.0    0.0  0.0       0.0     185.0  0
10           1.365     0.0    0.0  1.0       1.0     374.0  0
11           0.773     0.0    0.0  0.0       0.0      91.0  1
12           0.714     0.0    0.0  2.0       1.0     169.0  1
13           4.864     0.0    0.0  0.0       0.0     249.0  0
14           4.966     0.0    0.0  0.0       0.0     215.0  0
15           0.904     0.0    0.0  0.0       0.0     324.0  1
16           0.849     0.0    0.0  2.0       1.0     159.0  1
17           1.811     1.0    0.0  0.0       0.0     120.0  1
18           1.264     0.0    1.0  0.0       0.0     337.0  1
19           4.076     0.0    0.0  0.0       0.0     640.0  0
20           1.262     0.0    0.0  0.0       0.0     663.0  1
21           0.695     0.0    1.0  2.0       1.0     403.0  1
22           4.960     0.0    0.0  0.0       0.0     300.0  0
23           4.963     0.0    0.0  0.0       0.0     255.0  1
24           1.354     0.0    1.0  1.0       1.0     293.0  1
25           1.244     0.0    1.0  0.0       0.0      68.0  0
26           0.748     0.0    0.0  1.0       0.0     266.0  1
27           0.878     0.0    0.0  0.0       0.0     272.0  1
28           0.644     0.0    0.0  0.0       0.0     398.0  1
29           4.968     0.0    0.0  0.0       0.0     126.0  0
..             ...     ...    ...  ...       ...       ... ..
488          0.885     0.0    0.0  2.0       1.0     608.0  1
489          4.153     0.0    0.0  0.0       0.0     250.0  0
490          0.735     0.0    0.0  0.0       0.0     107.0  1
491          4.965     0.0    0.0  0.0       0.0     716.0  1
492          4.859     0.0    1.0  0.0       0.0     619.0  1
493          4.864     0.0    0.0  0.0       0.0     406.0  0
494          4.963     0.0    0.0  0.0       0.0      73.0  0
495          1.334     0.0    1.0  0.0       0.0     127.0  0
496          4.153     0.0    0.0  0.0       0.0     187.0  0
497          0.646     1.0    0.0  1.0       1.0     180.0  1
498          1.266     0.0    1.0  0.0       0.0     326.0  1
499          1.405     0.0    0.0  1.0       0.0     109.0  1
500          0.900     0.0    0.0  2.0       1.0     470.0  1
501          4.076     0.0    0.0  0.0       0.0      73.0  0
502          1.050     0.0    0.0  0.0       0.0     141.0  0
503          1.029     0.0    0.0  1.0       0.0     115.0  0
504          0.748     0.0    0.0  1.0       1.0     171.0  0
505          4.961     0.0    0.0  0.0       0.0     498.0  0
506          1.268     0.0    0.0  0.0       0.0     365.0  1
507          4.959     0.0    0.0  0.0       0.0      10.0  0
508          4.021     0.0    0.0  1.0       0.0     796.0  1
509          0.877     0.0    0.0  2.0       1.0     279.0  1
510          1.327     0.0    1.0  0.0       0.0     476.0  1
511          4.965     0.0    0.0  0.0       0.0     479.0  1
512          1.266     0.0    1.0  1.0       0.0     225.0  0
513          1.334     0.0    1.0  0.0       0.0     204.0  0
514          0.861     0.0    0.0  2.0       1.0     806.0  1
515          0.879     0.0    0.0  0.0       0.0     290.0  0
516          0.877     0.0    0.0  5.0       1.0     473.0  1
517          4.965     0.0    0.0  0.0       0.0     142.0  0

[518 rows x 7 columns]

In [5]:
data.describe()

,interest_rate,credit,march,may,previous,duration,y
count,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000
mean,2.835776,0.034749,0.266409,0.388031,0.127413,382.177606,0.500000
std,1.876903,0.183321,0.442508,0.814527,0.333758,344.295990,0.500483
min,0.635000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000
25%,1.042750,0.000000,0.000000,0.000000,0.000000,155.000000,0.000000
50%,1.466000,0.000000,0.000000,0.000000,0.000000,266.500000,0.500000
75%,4.956500,0.000000,1.000000,0.000000,0.000000,482.750000,1.000000
max,4.970000,1.000000,1.000000,5.000000,1.000000,2653.000000,1.000000

In [6]:
y = data['y']
x1 = data['duration']

In [7]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()
# Get the regression summary
results_log.summary()

Optimization terminated successfully.
         Current function value: 0.546118
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      516
Method:                           MLE   Df Model:                            1
Date:                Fri, 17 Jul 2020   Pseudo R-squ.:                  0.2121
Time:                        00:10:29   Log-Likelihood:                -282.89
converged:                       True   LL-Null:                       -359.05
                                        LLR p-value:                 5.387e-35
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.7001      0.192     -8.863      0.000      -2.076      -1.324
duration       0.0051      0.001      9.159      0.000       0.004       0.006
==============================================================================
"""

In [8]:
y = data['y']
x1 = data[['interest_rate','credit','march','previous','duration']]

In [9]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()
# Get the regression summary
results_log.summary()

Optimization terminated successfully.
         Current function value: 0.336664
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      512
Method:                           MLE   Df Model:                            5
Date:                Fri, 17 Jul 2020   Pseudo R-squ.:                  0.5143
Time:                        00:10:29   Log-Likelihood:                -174.39
converged:                       True   LL-Null:                       -359.05
                                        LLR p-value:                 1.211e-77
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.0211      0.311     -0.068      0.946      -0.631       0.589
interest_rate    -0.8001      0.089     -8.943      0.000      -0.975      -0.625
credit            2.3585      1.088      2.169      0.030       0.227       4.490
march            -1.8322      0.330     -5.556      0.000      -2.478      -1.186
previous          1.5363      0.501      3.067      0.002       0.554       2.518
duration          0.0070      0.001      9.381      0.000       0.006       0.008
=================================================================================
"""

In [10]:
#Confusion matrix for testing :

def confusion_matrix(data,actual_values,model):
    pred_values = model.predict(data)
    bins = np.array([0,0.5,1])
    cm = np.histogram2d(actual_values, pred_values, bins = bins)[0]
    accuracy = (cm[0,0] + cm[1,1]) / cm.sum()
    return cm, accuracy

In [11]:
x1

     interest_rate  credit  march  previous  duration
0            1.334     0.0    1.0       0.0     117.0
1            0.767     0.0    0.0       1.0     274.0
2            4.858     0.0    1.0       0.0     167.0
3            4.120     0.0    0.0       0.0     686.0
4            4.856     0.0    1.0       0.0     157.0
5            0.899     0.0    0.0       0.0     126.0
6            4.962     0.0    0.0       0.0      84.0
7            4.858     0.0    1.0       0.0      17.0
8            4.962     0.0    0.0       0.0     704.0
9            4.865     0.0    0.0       0.0     185.0
10           1.365     0.0    0.0       1.0     374.0
11           0.773     0.0    0.0       0.0      91.0
12           0.714     0.0    0.0       1.0     169.0
13           4.864     0.0    0.0       0.0     249.0
14           4.966     0.0    0.0       0.0     215.0
15           0.904     0.0    0.0       0.0     324.0
16           0.849     0.0    0.0       1.0     159.0
17           1.811     1.0    0.0       0.0     120.0
18           1.264     0.0    1.0       0.0     337.0
19           4.076     0.0    0.0       0.0     640.0
20           1.262     0.0    0.0       0.0     663.0
21           0.695     0.0    1.0       1.0     403.0
22           4.960     0.0    0.0       0.0     300.0
23           4.963     0.0    0.0       0.0     255.0
24           1.354     0.0    1.0       1.0     293.0
25           1.244     0.0    1.0       0.0      68.0
26           0.748     0.0    0.0       0.0     266.0
27           0.878     0.0    0.0       0.0     272.0
28           0.644     0.0    0.0       0.0     398.0
29           4.968     0.0    0.0       0.0     126.0
..             ...     ...    ...       ...       ...
488          0.885     0.0    0.0       1.0     608.0
489          4.153     0.0    0.0       0.0     250.0
490          0.735     0.0    0.0       0.0     107.0
491          4.965     0.0    0.0       0.0     716.0
492          4.859     0.0    1.0       0.0     619.0
493          4.864     0.0    0.0       0.0     406.0
494          4.963     0.0    0.0       0.0      73.0
495          1.334     0.0    1.0       0.0     127.0
496          4.153     0.0    0.0       0.0     187.0
497          0.646     1.0    0.0       1.0     180.0
498          1.266     0.0    1.0       0.0     326.0
499          1.405     0.0    0.0       0.0     109.0
500          0.900     0.0    0.0       1.0     470.0
501          4.076     0.0    0.0       0.0      73.0
502          1.050     0.0    0.0       0.0     141.0
503          1.029     0.0    0.0       0.0     115.0
504          0.748     0.0    0.0       1.0     171.0
505          4.961     0.0    0.0       0.0     498.0
506          1.268     0.0    0.0       0.0     365.0
507          4.959     0.0    0.0       0.0      10.0
508          4.021     0.0    0.0       0.0     796.0
509          0.877     0.0    0.0       1.0     279.0
510          1.327     0.0    1.0       0.0     476.0
511          4.965     0.0    0.0       0.0     479.0
512          1.266     0.0    1.0       0.0     225.0
513          1.334     0.0    1.0       0.0     204.0
514          0.861     0.0    0.0       1.0     806.0
515          0.879     0.0    0.0       0.0     290.0
516          0.877     0.0    0.0       1.0     473.0
517          4.965     0.0    0.0       0.0     142.0

[518 rows x 5 columns]

In [12]:
cm1 = confusion_matrix(x,y,results_log)
cm1

(array([[218.,  41.],
        [ 30., 229.]]), 0.862934362934363)

### Testing :

In [13]:
raw_data2 = pd.read_csv('Bank-data-testing.csv')

In [14]:
data_test = raw_data2.copy()
data_test = data_test.drop(['Unnamed: 0'], axis = 1)
data_test.head()

   interest_rate  credit  march  may  previous  duration    y
0          1.313     0.0    1.0  0.0       0.0     487.0   no
1          4.961     0.0    0.0  0.0       0.0     132.0   no
2          4.856     0.0    1.0  0.0       0.0      92.0   no
3          4.120     0.0    0.0  0.0       0.0    1468.0  yes
4          4.963     0.0    0.0  0.0       0.0      36.0   no

In [15]:
data_test['y'] = data_test['y'].map({'yes':1, 'no':0})
data_test

     interest_rate  credit  march  may  previous  duration  y
0            1.313     0.0    1.0  0.0       0.0     487.0  0
1            4.961     0.0    0.0  0.0       0.0     132.0  0
2            4.856     0.0    1.0  0.0       0.0      92.0  0
3            4.120     0.0    0.0  0.0       0.0    1468.0  1
4            4.963     0.0    0.0  0.0       0.0      36.0  0
5            0.697     0.0    1.0  4.0       0.0     131.0  0
6            0.639     1.0    0.0  0.0       0.0     215.0  1
7            4.120     0.0    0.0  0.0       0.0     499.0  0
8            1.281     0.0    1.0  1.0       0.0     809.0  1
9            4.966     0.0    0.0  0.0       0.0     389.0  0
10           4.965     0.0    0.0  0.0       0.0     168.0  0
11           4.968     0.0    0.0  0.0       0.0     766.0  1
12           0.714     0.0    0.0  1.0       0.0     192.0  1
13           1.410     0.0    0.0  1.0       0.0      48.0  0
14           4.964     0.0    0.0  0.0       0.0     181.0  0
15           4.120     0.0    0.0  0.0       0.0     288.0  0
16           1.260     0.0    0.0  2.0       0.0     431.0  1
17           0.900     0.0    0.0  1.0       1.0     153.0  1
18           1.354     0.0    1.0  0.0       0.0     617.0  1
19           4.857     0.0    1.0  0.0       0.0     293.0  0
20           4.857     0.0    1.0  0.0       0.0     157.0  0
21           0.883     0.0    0.0  4.0       0.0     167.0  1
22           1.405     0.0    0.0  0.0       0.0     180.0  0
23           0.702     0.0    0.0  0.0       0.0       7.0  0
24           4.021     0.0    0.0  0.0       0.0    1074.0  1
25           1.264     0.0    1.0  0.0       0.0     377.0  1
26           4.962     0.0    0.0  0.0       0.0    1441.0  1
27           4.120     0.0    0.0  0.0       0.0      30.0  0
28           4.857     0.0    1.0  0.0       0.0     154.0  0
29           1.260     0.0    0.0  0.0       0.0     121.0  1
..             ...     ...    ...  ...       ...       ... ..
192          0.709     0.0    0.0  1.0       0.0     367.0  1
193          1.299     0.0    1.0  0.0       0.0     123.0  0
194          0.788     0.0    0.0  1.0       1.0     261.0  1
195          4.856     0.0    1.0  0.0       0.0     130.0  0
196          0.702     0.0    0.0  1.0       1.0     347.0  1
197          0.900     0.0    0.0  3.0       1.0     288.0  1
198          4.963     0.0    0.0  0.0       0.0     119.0  0
199          0.851     0.0    0.0  1.0       1.0      63.0  1
200          0.720     0.0    0.0  0.0       0.0     485.0  1
201          1.327     0.0    1.0  0.0       0.0     263.0  0
202          1.281     0.0    1.0  0.0       0.0      77.0  0
203          4.961     0.0    0.0  0.0       0.0     135.0  0
204          1.327     0.0    1.0  0.0       0.0    1046.0  1
205          1.291     0.0    1.0  0.0       0.0     725.0  1
206          1.498     0.0    0.0  0.0       0.0     351.0  1
207          4.120     0.0    0.0  0.0       0.0      91.0  0
208          1.410     0.0    0.0  1.0       0.0     291.0  0
209          4.968     0.0    0.0  0.0       0.0      81.0  0
210          1.266     0.0    1.0  0.0       0.0     533.0  1
211          4.961     0.0    0.0  0.0       0.0     952.0  1
212          1.281     0.0    1.0  0.0       0.0       6.0  0
213          1.260     0.0    0.0  0.0       0.0     372.0  1
214          4.858     0.0    1.0  0.0       0.0     607.0  1
215          1.778     1.0    0.0  0.0       0.0     377.0  1
216          1.268     0.0    0.0  0.0       0.0     166.0  1
217          4.963     0.0    0.0  0.0       0.0     458.0  1
218          1.264     0.0    1.0  1.0       0.0     397.0  1
219          1.281     0.0    1.0  0.0       0.0      34.0  0
220          0.739     0.0    0.0  2.0       0.0     233.0  0
221          1.046     0.0    0.0  0.0       0.0     238.0  1

[222 rows x 7 columns]

In [16]:
y = data_test['y']
x1 = data_test[['interest_rate','credit','march','previous','duration']]

In [17]:
x = sm.add_constant(x1)

In [18]:
x.head()

   const  interest_rate  credit  march  previous  duration
0    1.0          1.313     0.0    1.0       0.0     487.0
1    1.0          4.961     0.0    0.0       0.0     132.0
2    1.0          4.856     0.0    1.0       0.0      92.0
3    1.0          4.120     0.0    0.0       0.0    1468.0
4    1.0          4.963     0.0    0.0       0.0      36.0

In [19]:
confusion_matrix(x, y, results_log)

(array([[93., 18.],
        [13., 98.]]), 0.8603603603603603)